---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Krishnanand Yadav";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-4xl font-bold">{pageTitle}</h1>
</BaseLayout>
