---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero";
import About from "../components/About.astro";
import Experience from "./experience.astro";
import Projects from "./projects.astro";
import Contact from "./contact.astro";

const pageTitle = "Krishnanand Yadav | Full Stack Developer";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="min-h-screen w-full flex items-center justify-center">
    <Hero client:load />
  </section>

  <section id="about" class="min-h-screen">
    <About />
  </section>

  <section id="experience" class="min-h-screen">
    <Experience />
  </section>

  <section id="projects" class="min-h-screen">
    <Projects />
  </section>

  <section id="contact" class="">
    <Contact />
  </section>
</BaseLayout>
