---
import { projectsData } from "../data/projectsData";
import ProjectItem from "../components/ProjectItem.astro";

import ProjectText from "../components/ProjectText";
---

<h1 class="text-xl lg:text-3xl font-bold mt-4 mb-8">Projects</h1>

<div class="flex flex-col gap-24">
  {projectsData.map((project) => <ProjectItem project={project} />)}
</div>

<div class="my-20">
  <ProjectText client:load />
</div>
