---
import { Icon } from "astro-icon/components";
---

<h1 class="text-xl lg:text-3xl font-bold my-4">About Me</h1>
<p class="text-sm lg:text-base">
  I am a human being who enjoys building software, be it web apps, games, or
  mobile apps. In my free time, I play video games, read (and write!) stories,
  make travel plans... or just code.
</p>

<div class="my-12">
  <div class="flex flex-col gap-10">
    <div class="w-full flex flex-wrap lg:flex-nowrap gap-6 items-center">
      <h3 class="w-full lg:w-auto lg:text-lg font-bold">Languages</h3>
      <div class="lg:ml-6 flex flex-wrap items-center gap-6">
        <Icon name="skill-icons:javascript" size={32} />
        <Icon name="skill-icons:typescript" size={32} />
        <Icon name="skill-icons:cs" size={32} />
        <Icon name="skill-icons:cpp" size={32} />
        <Icon name="skill-icons:python-light" size={32} />
        <Icon name="skill-icons:java-light" size={32} />
      </div>
    </div>

    <div class="w-full flex flex-wrap lg:flex-nowrap gap-6 items-center">
      <h3 class="w-full lg:w-auto lg:text-lg font-bold">Frontend</h3>
      <div class="lg:ml-10 flex flex-wrap items-center gap-6">
        <Icon name="skill-icons:react-dark" size={32} />
        <Icon name="skill-icons:redux" size={32} />
        <Icon name="skill-icons:nextjs-light" size={32} />
        <Icon name="skill-icons:astro" size={32} />
        <Icon name="skill-icons:tailwindcss-dark" size={32} />
        <Icon name="skill-icons:materialui-dark" size={32} />
        <Icon name="simple-icons:webrtc" size={32} />
        <Icon name="simple-icons:socketdotio" size={32} />
      </div>
    </div>

    <div class="w-full flex flex-wrap lg:flex-nowrap gap-6 items-center">
      <h3 class="w-full lg:w-auto lg:text-lg font-bold">Backend</h3>
      <div class="lg:ml-11 flex flex-wrap items-center gap-6">
        <Icon name="skill-icons:nodejs-dark" size={32} />
        <Icon name="skill-icons:expressjs-dark" size={32} />
        <Icon name="skill-icons:graphql-dark" size={32} />
        <Icon name="skill-icons:redis-dark" size={32} />
        <Icon name="skill-icons:kafka" size={32} />
        <Icon name="simple-icons:webrtc" size={32} />
        <Icon name="simple-icons:socketdotio" size={32} />
      </div>
    </div>

    <div class="w-full flex flex-wrap lg:flex-nowrap gap-6 items-center">
      <h3 class="w-full lg:w-auto lg:text-lg lg:flex-shrink-0 font-bold">
        Databases
      </h3>
      <div class="lg:ml-6 flex flex-wrap items-center gap-6">
        <Icon name="skill-icons:mongodb" size={32} />
        <Icon name="skill-icons:supabase-dark" size={32} />
        <Icon name="skill-icons:mysql-dark" size={32} />
      </div>
    </div>

    <div class="w-full flex flex-wrap lg:flex-nowrap gap-6 items-center">
      <h3 class="w-full lg:w-auto lg:text-lg lg:flex-shrink-0 font-bold">
        Game Engine
      </h3>
      <div class="flex flex-wrap items-center gap-6">
        <Icon name="skill-icons:unity-dark" size={32} />
      </div>
    </div>

    <div class="w-full flex flex-wrap lg:flex-nowrap gap-6 items-center">
      <h3 class="w-full lg:w-auto lg:text-lg lg:flex-shrink-0 font-bold">
        Tools
      </h3>
      <div class="lg:ml-[4.6rem] flex flex-wrap items-center gap-6">
        <Icon name="skill-icons:git" size={32} />
        <Icon name="skill-icons:docker" size={32} />
        <Icon name="skill-icons:vercel-dark" size={32} />
        <Icon name="skill-icons:jest" size={32} />
        <Icon name="skill-icons:postman" size={32} />
        <Icon name="skill-icons:apollo" size={32} />
      </div>
    </div>

    <div class="w-full flex flex-wrap lg:flex-nowrap gap-6 items-center">
      <h3 class="w-full lg:w-auto lg:text-lg lg:flex-shrink-0 font-bold">
        ML Tools
      </h3>
      <div class="lg:ml-10 flex flex-wrap items-center gap-6">
        <Icon name="skill-icons:tensorflow-dark" size={32} />
        <Icon name="skill-icons:scikitlearn-dark" size={32} />
      </div>
    </div>
  </div>
</div>

<div class="my-24">
  <h2 class="text-lg lg:text-2xl font-semibold mb-4">Education</h2>
  <div class="flex flex-col divide-y divide-black/30">
    <div
      class="mb-4 flex flex-col lg:flex-row lg:justify-between lg:items-center gap-4 lg:gap-28 text-sm lg:text-base"
    >
      <div>
        <p>Integrated M.Sc. Computer Science</p>
        <p><em>Oct. 2021 - May 2026</em></p>
      </div>

      <div>
        <p><strong>Pondicherry University</strong></p>
        <p><em>Puducherry</em></p>
      </div>
    </div>

    <div
      class="pt-4 flex flex-col lg:flex-row lg:justify-between lg:items-center gap-4 lg:gap-28 text-sm lg:text-base"
    >
      <div>
        <p>Higher Secondary (Class XII)</p>
        <p><em>Apr. 2020 - May 2021</em></p>
      </div>

      <div>
        <p><strong>Jawahar Navodaya Vidyalaya</strong></p>
        <p><em>Durgapur, West Bengal</em></p>
      </div>
    </div>
  </div>
</div>
