---
import { Icon } from "astro-icon/components";

import { skillsData } from "../data/skillsData";
---

<h1 class="text-xl lg:text-3xl font-bold my-4">About Me</h1>
<p class="text-sm lg:text-base">
  I'm a software engineer based in India who genuinely enjoys building clean,
  user-friendly, and well-crafted products. I enjoy solving real problems with
  simple, maintainable solutions. When I'm not working, I'm usually reading,
  writing, planning trips, or experimenting with new ideas in code.
</p>

<div class="my-12">
  <div class="flex flex-col gap-10">
    {
      Object.entries(skillsData).map(([category, items]) => (
        <div class="w-full flex flex-col gap-6 items-start">
          <h3 class="w-full lg:w-auto lg:text-lg font-bold">{category}</h3>
          <div class="lg:ml-6 flex flex-wrap items-center gap-3">
            {items.map((skill) => (
              <div class="inline-flex items-center gap-2 px-4 py-2 bg-amber-100/80 border border-dashed border-zinc-700 rounded-lg hover:scale-95 transition-all">
                <Icon name={skill.icon} size={20} />
                <span class="text-sm font-medium">{skill.name}</span>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</div>

<div class="my-24">
  <h2 class="text-lg lg:text-2xl font-semibold mb-4">Education</h2>
  <div class="flex flex-col divide-y divide-black/30">
    <div
      class="mb-4 flex flex-col lg:flex-row lg:justify-between lg:items-center gap-4 lg:gap-28 text-sm lg:text-base"
    >
      <div>
        <p>Integrated M.Sc. Computer Science</p>
        <p><em>Oct. 2021 - May 2026</em></p>
      </div>

      <div>
        <p><strong>Pondicherry University</strong></p>
        <p><em>Puducherry, India</em></p>
      </div>
    </div>

    <div
      class="pt-4 flex flex-col lg:flex-row lg:justify-between lg:items-center gap-4 lg:gap-28 text-sm lg:text-base"
    >
      <div>
        <p>Higher Secondary (Class XII)</p>
        <p><em>Apr. 2020 - May 2021</em></p>
      </div>

      <div>
        <p><strong>Jawahar Navodaya Vidyalaya</strong></p>
        <p><em>West Bengal, India</em></p>
      </div>
    </div>
  </div>
</div>
