---
import { Astronav, MenuItems, MenuIcon, StickyHeader } from "astro-navbar";
---

<StickyHeader
  class="border-b z-20 lg:flex p-2 lg:p-4 gap-5 transition-all"
  scrollY={50}
  defaultClass="py-3 lg:py-5 border-transparent text-gray-600"
  activeClass="py-2 bg-black/40 text-white border-gray-200 backdrop-blur-sm rounded-md"
>
  <Astronav>
    <div class="flex w-full justify-between items-center">
      <a
        href="/"
        class="p-2 hover:bg-black/10 rounded-md transition-colors duration-300"
        >Krishnanand Yadav</a
      >
      <div class="flex items-center lg:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul class="flex flex-col lg:flex-row lg:items-center lg:gap-5">
        <li>
          <a
            href="#about"
            class="p-2 hover:bg-black/10 rounded-md transition-colors duration-300"
            >About</a
          >
        </li>
        <li>
          <a
            href="/projects"
            class="p-2 hover:bg-black/10 rounded-md transition-colors duration-300"
            >Projects</a
          >
        </li>
        <li>
          <a
            href="/contact"
            class="p-2 hover:bg-black/10 rounded-md transition-colors duration-300"
            >Contact</a
          >
        </li>
        <li>
          <a
            href="https://drive.google.com/file/d/1KP572LKa70L7UCorhwxryun-p0-GkrW8/view"
            class="p-2 hover:bg-black/10 rounded-md transition-colors duration-300"
            target="_blank">Resume</a
          >
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</StickyHeader>
