---
import "@fontsource-variable/josefin-sans";
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style>
      body {
        font-family: "Josefin Sans Variable", sans-serif;
      }
    </style>
    <ViewTransitions />
  </head>
  <body
    class="min-h-screen bg-amber-50 py-2 lg:py-8 px-4 lg:px-40 xl:px-56 2xl:px-72 flex flex-col"
  >
    <Navbar />

    <main class="px-2 lg:px-4 flex flex-1 flex-col justify-center items-center">
      <slot />
    </main>

    <Footer />
  </body>
</html>
